
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 align= "center" class="modal-title">Patient Information Form</h4>
        </div>
        <%= form_for @patient, remote: true, html: { style: "display:inline;" } do |f| %>
            <div class="modal-body">
                <ul class="errors"></ul>
                <div class="form-group">
                  <%= f.label :first_name, class:"control-label" %>
                  <%= f.text_field :first_name, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :last_name, class: "control-label" %>
                  <%= f.text_field :last_name, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :date_of_birth, class: "control-label" %>
                  <%= f.text_field :date_of_birth, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :region, class: "control-label" %>
                  <%= f.text_field :region, class: "form-control" %>
                </div>
            </div>
                <div class="modal-footer">
                    <%= f.submit class: "btn btn-primary" %>
                    <%= link_to "Close", patients_path, class: "btn btn-default", data: {dismiss: "modal"} %>
               </div>
       <% end %>
  </div>
</div>
