<div class= "wrapper">
    <%= render "layouts/sidenav" %>
    <div id="content-wrapper">
        <div class= "col-lg-12">
            <h4 class= "page-header"> Medical File</h4>
        </div>
        <div class= "col-lg-3">
            <div class="panel panel-default panel-patient-profile">
                <div class="panel-body">
                    <div class="thumbnail">
                         <%= image_tag "image_placeholder.png", :class => "image-placeholder" %>
                         <div class="caption">
                             <h5 align="center"></h5>
                         </div>
                    </div>
                    <p><strong>Name:</strong> <%= @patient.first_name %> <%= @patient.last_name %></p>
                    <p><strong>Date of birth:</strong> <%= @patient.date_of_birth %></p>
                    <p><strong>Gender:</strong></p>
                    <p><strong>Region:</strong> <%= @patient.region %></p>
                    <p><strong>Blood Group:</strong> </p>
                    <p><strong>Height:</strong></p>
                    <p><strong>Weight:</strong></p>
                    <div align="center">
                        <p><%= link_to patient_path, remote: true, class: "btn btn-default btn-sm" do %>
                                <i id="btn-icon" class="fa fa-pencil"></i> Edit basic info
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class= "col-lg-7 panel-outer-header">
                <h5>Vitals Stats Recorded: </h5>
                <div class="panel panel-default panel-patient-vitals">
                    <div class="panel-body">
                        <p>Temperature:</p>
                        <p>Heart Rate:</p>
                        <p>Blood Pressure:</p>
                    </div>
                </div>
            </div>
            <div class= "col-lg-7 panel-outer-header">
                <h5>Allergies </h5>
                <div class="panel panel-default panel-patient-allergies">
                    <div class="panel-body">
                            <p> Drug Allergies:</p>
                            <p> Non Drug Allergies:</p>
                    </div>
                </div>
            </div>
            <div class= "col-lg-7 panel-outer-header">
                <h5>Current Medication & Supplements </h5>
                <div class="panel panel-default panel-patient-allergies">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div>
            </div>
        </div>
        <div align="right">
            <%= link_to "Back to patients listing", patients_path %>
        </div>
    </div>
    
</div>
