<nav class="navbar myNavbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a href="#">Afya Kit</a>
        
          <%= image_tag "afyakit_icon.svg", :class => "navbar_icon" %>
        
      </div>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-custom">
        <li><a href="#"><i id="navbar-icon" class="fa fa-pie-chart"></i>
            <p>Dashboard</p><span class="sr-only">(current)</span></a>
        </li>
        <li><a href="#"><i id="navbar-icon" class="fa fa-calendar"></i>
            <p>Appointments</p></a>
        </li>
        <li class="<%= 'active' if current_page?(patients_path) %>">
          <%= link_to patients_path do %>
            <i id="navbar-icon" class="fa fa-heartbeat"></i><p>Patients</p>
          <% end %>
        </li>
        <li><a href="#"><i id="navbar-icon" class="fa fa-envelope"></i>
            <p>Messages</p></a>
        </li>
        <li><a href="#"><i id="navbar-icon" class="fa fa-medkit"></i>
            <p>Medkit</p></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= link_to "Sign out", signout_path, method: :delete %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %> </li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>