<div id="side-list-menu">
    <div class="list-group">
      <%= link_to "History", new_problem_path, class: "list-group-item" %>
      <%= link_to "Problems", problems_path, class: "list-group-item" %>
      <%= link_to "Medications", new_problem_path, class: "list-group-item" %>
      <%= link_to "Immunizations", new_problem_path, class: "list-group-item" %>
      <%= link_to "Vitals", new_problem_path, class: "list-group-item" %>
      <%= link_to "Notes", new_problem_path, class: "list-group-item" %>
      <%= link_to "Labs/Studies", new_problem_path, class: "list-group-item" %>
    </div>
</div>